$background_color_1: #333D29;
$background_color_2: #C2C5AA;
$background_color_3: #582F0E;
$background_color_4: #936639;
$background_color_5: #656D4A;
$text_color_1: white;
$hover_color_1: #A4AC86;
$font_family: Arial, Helvetica, sans-serif;