@import 'variables';
@import 'navbar';
@import 'welcome-section';
@import 'project';
@import 'profile-link';
@import 'footer';

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
}